h2 {
    text-align: center;
}

table, tr, td {
    border: 20px solid white;
    border-collapse: collapse;
    margin: auto;
}


div{
width: 40px;
height: 40px;
}

tr:nth-child(even) td:nth-child(even) {
    background: #f05712;
}

tr:nth-child(even) td:nth-child(odd){
    background: #2cd64d;
}

tr:nth-child(odd) td:nth-child(even){
    background: #2cd64d;
}

tr:nth-child(odd) td:nth-child(odd){
    background: #f05712;
}

tr:nth-child(even) td:nth-child(even) div {
    border: 25px solid #2cd64d;
}
tr:nth-child(even) td:nth-child(odd) div {
    border: 25px solid #f05712;
}
tr:nth-child(odd) td:nth-child(even) div {
    border: 25px solid #f05712;
}
tr:nth-child(odd) td:nth-child(odd) div {
    border: 25px solid #2cd64d;
}
